{% extends 'admin/layouts/adminBase.html.twig' %}

{#{% block title %}Hello DefaultController!{% endblock %}#}

{% block body %}
    {#    {% if is_granted('ROLE_ADMIN') %} ... burası admin {% endif %}#}



{% include 'admin/layouts/header.html.twig' %}

    <div class="bg-white">
        <div class="grid grid-cols-12">
            <div class="col-span-2">
                {% include 'admin/layouts/leftSection.html.twig' %}
            </div>
            <div class="col-span-10">
                <div class="h-full rounded-md">

                    <h3 class="text-center text-3xl pt-4">Gelen Mesajlar</h3>

                     <div class="grid grid-cols-3">
                         {% for message in messages %}
                         <div class="col-span-1">
                             <div class="bg-white shadow-md p-3 m-3 h-64">
                                 <div class="mt-4">
                                     <p class="text-gray-400">Mesajı Gönderen: <span class="text-gray-600">{{ message.name }}</span> </p>
                                     <p class="text-gray-400">Mail Adresi: <span class="text-gray-600">{{ message.email }}</span> </p>
                                 </div>
                                 <div class="mt-6">
                                     <h3 class="mb-2 text-gray-400">Mesajı: </h3>
                                     <p>{{ message.message }}</p>
                                     <p class="text-right mr-6 mt-6 text-red-600 font-bold"><a class="rounded-md border-2 p-4 bg-red-500 text-white" href="/delete-post/{{ message.id }}">Mesajı Sil</a> </p>

                                 </div>
                                 <div class="text-right mr-6 font-bold flex space-between">
                                             {% if message.getIsRead() == 0 %}
                                                 <p><span class="bg-red-500 text-white p-2 rounded-md">Henüz Okunmadı</span></p>
                                                 <p class="ml-3"><a class=" bg-gray-600 text-white p-2 rounded-md" href="/admin/gelen-mesajlar/{{ message.id }}">Durumu Değiştir</a></p>
                                             {% endif %}
                                             {% if message.getIsRead() == 1 %}
                                                 <p><span class="bg-green-600 text-white p-2 rounded-md">Mesaj Okundu</span></p>
                                                 <p class="ml-3"><a class=" bg-gray-600 text-white p-2 rounded-md" href="/admin/gelen-mesajlar/{{ message.id }}">Durumu Değiştir</a></p>
                                             {% endif %}
                                 </div>
                             </div>
                         </div>
                         {% endfor %}
                     </div>


{#                    {% for message in messages %}#}
{#                        <li>{{ message.name }}</li>#}
{#                    {% endfor %}#}

                </div>
            </div>
        </div>
    </div>





    {#<div class="example-wrapper">#}


    {#    <p>Kısaltma Yapılmış URL Listesi ve Hash'leri: </p>#}
    {#    <ul>#}
    {#        {% for url in urls %}#}
    {#        <li>{{ url.url }} <p style="color: darkred">Hash: <a href="http://pa.th/{{ url.getUrlHash() }}" target="_blank">http://pa.th/{{ url.getUrlHash() }}</a></p></li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {#    <p>Toplam Hash Sayısı: {{ urls | length }}</p>#}


    {#    <p>Kayıtlı Kullanıcılar: Toplam {{ users | length }} adet.</p>#}
    {#    <ul>#}
    {#        {% for user in users %}#}
    {#        <li>{{ user.email }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}




    {#</div>#}
{% endblock %}
