{% extends 'admin/layouts/adminBase.html.twig' %}

{#{% block title %}Hello DefaultController!{% endblock %}#}

{% block body %}
    {#    {% if is_granted('ROLE_ADMIN') %} ... burası admin {% endif %}#}



    <div class="nice-blue-bg">
        <div class="grid grid-cols-12">
            <div class="col-span-2 px-4">
                <div style="border-right: 1px solid rgb(226 226 226);" class="flex items-center h-14 border-gray-500">
                    <img src="https://cutt.ly/img/cuttly.svg" class="h-10 mx-auto" alt="">
                </div>
            </div>
            <div class="col-span-10">

            </div>
        </div>
    </div>

    <div class="bg-white">
        <div class="grid grid-cols-12">
            <div class="col-span-2 px-4">
                {% include 'admin/layouts/leftSection.html.twig' %}
            </div>
            <div class="col-span-10">
                <div class="mt-4 bg-gray-200 h-full rounded-md">

                    <h3 class="text-center text-3xl pt-4">Gelen Mesajlar</h3>

                     <div class="grid grid-cols-3">
                         {% for message in messages %}
                         <div class="col-span-1">
                             <div class="bg-white shadow-md p-3 m-3">
                                 <div class="mt-4">
                                     <p class="text-gray-400">Mesajı Gönderen: <span class="text-gray-600">{{ message.name }}</span> </p>
                                     <p class="text-gray-400">Mail Adresi: <span class="text-gray-600">{{ message.email }}</span> </p>
                                 </div>
                                 <div class="mt-6">
                                     <h3 class="mb-2 text-gray-400">Mesajı: </h3>
                                     <p>{{ message.message }}</p>
                                     <p class="text-right mr-6"><a href="/delete-post/{{ message.id }}">Mesajı Sil</a> </p>

                                 </div>
                                 <span class="text-right mr-6 font-bold">
                                             {% if message.getIsRead() == 0 %}
                                                 <p class="border-2 bg-red-900 text-white p-2">Henüz Okunmadı</p>
                                                 <p class="mt-4 p-3 bg-gray-900 text-white"><a href="/admin/gelen-mesajlar/{{ message.id }}">Durumu Değiştir</a></p>
                                             {% endif %}
                                             {% if message.getIsRead() == 1 %}
                                                     <p class="border-2 bg-green-900 text-white p-2">Mesaj Okundu</p>
                                                     <p class="mt-4 p-3 bg-gray-900 text-white"><a href="/admin/gelen-mesajlar/{{ message.id }}">Durumu Değiştir</a></p>
                                             {% endif %}
                                         </span>
                             </div>
                         </div>
                         {% endfor %}
                     </div>


{#                    {% for message in messages %}#}
{#                        <li>{{ message.name }}</li>#}
{#                    {% endfor %}#}

                </div>
            </div>
        </div>
    </div>





    {#<div class="example-wrapper">#}


    {#    <p>Kısaltma Yapılmış URL Listesi ve Hash'leri: </p>#}
    {#    <ul>#}
    {#        {% for url in urls %}#}
    {#        <li>{{ url.url }} <p style="color: darkred">Hash: <a href="http://pa.th/{{ url.getUrlHash() }}" target="_blank">http://pa.th/{{ url.getUrlHash() }}</a></p></li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {#    <p>Toplam Hash Sayısı: {{ urls | length }}</p>#}


    {#    <p>Kayıtlı Kullanıcılar: Toplam {{ users | length }} adet.</p>#}
    {#    <ul>#}
    {#        {% for user in users %}#}
    {#        <li>{{ user.email }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}




    {#</div>#}
{% endblock %}
