{% extends 'admin/layouts/adminBase.html.twig' %}

{#{% block title %}Hello DefaultController!{% endblock %}#}

{% block body %}
    {#    {% if is_granted('ROLE_ADMIN') %} ... burası admin {% endif %}#}



    {% include 'admin/layouts/header.html.twig' %}


    <div class="bg-white">
        <div class="grid grid-cols-12">
            <div class="col-span-2">
                {% include 'admin/layouts/leftSection.html.twig' %}
            </div>
            <div class="col-span-10">
                <div class="h-full rounded-md">


{#                       <div class="p-8">#}
{#                           <form action="/admin/banner-alani-duzenleme-edit" method="post">#}
{#                               <p>Title</p> <input name="title" class="border-2 border-green-500 rounded-md">#}
{#                               <p>Description</p> <input name="description" class="border-2 border-green-500 rounded-md">#}
{#                               <p>Button</p> <input name="button" class="border-2 border-green-500 rounded-md"><br>#}
{#                               <button class="px-2 py-3 bg-green-500 text-white rounded-md mt-4" type="submit">Güncelle</button>#}
{#                           </form>#}
{#                       </div>#}


                    <div class=" w-2/4 mx-auto">
                        <div class="p-6 text-center">
                            <div class="mt-3 w-full">

                                <form action="/admin/sayfa-title" method="post">
                                    <span class="mr-4">Başlık</span>
                                    <input class="border-blue-800 border-2" name="content" type="text">
                                    <button class="nice-blue-bg p-3 text-white rounded-lg ml-4" type="submit">Güncelle</button>
                                </form>

                                <form action="/admin/sayfa-description" class="mt-4" method="post">
                                    <span class="mr-4">Açıklama</span>
                                    <input class="border-blue-800 border-2" name="content" type="text">
                                    <button class="nice-blue-bg p-3 text-white rounded-lg ml-4" type="submit">Güncelle</button>
                                </form>

                                <form action="/admin/sayfa-buton" class="mt-4" method="post">
                                    <span class="mr-4">Butonun Yazısı</span>
                                    <input class="border-blue-800 border-2" name="content" type="text">
                                    <button class="nice-blue-bg p-3 text-white rounded-lg ml-4" type="submit">Güncelle</button>
                                </form>

                                <form action="/admin/sayfa-privacy" class="mt-4" method="post">
                                    <span class="mr-4">Politika Yazısı - 1</span>
                                    <input class="border-blue-800 border-2" name="content" type="text">
                                    <button class="nice-blue-bg p-3 text-white rounded-lg ml-4" type="submit">Güncelle</button>
                                </form>

                                <form action="/admin/sayfa-privacy-2" class="mt-4" method="post">
                                    <span class="mr-4">Politika Yazısı - 2</span>
                                    <input class="border-blue-800 border-2" name="content" type="text">
                                    <button class="nice-blue-bg p-3 text-white rounded-lg ml-4" type="submit">Güncelle</button>
                                </form>

                                <form action="/admin/sayfa-privacy-3" class="mt-4" method="post">
                                    <span class="mr-4">Politika Yazısı - 3</span>
                                    <input class="border-blue-800 border-2" name="content" type="text">
                                    <button class="nice-blue-bg p-3 text-white rounded-lg ml-4" type="submit">Güncelle</button>
                                </form>

                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>





    {#<div class="example-wrapper">#}


    {#    <p>Kısaltma Yapılmış URL Listesi ve Hash'leri: </p>#}
    {#    <ul>#}
    {#        {% for url in urls %}#}
    {#        <li>{{ url.url }} <p style="color: darkred">Hash: <a href="http://pa.th/{{ url.getUrlHash() }}" target="_blank">http://pa.th/{{ url.getUrlHash() }}</a></p></li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {#    <p>Toplam Hash Sayısı: {{ urls | length }}</p>#}


    {#    <p>Kayıtlı Kullanıcılar: Toplam {{ users | length }} adet.</p>#}
    {#    <ul>#}
    {#        {% for user in users %}#}
    {#        <li>{{ user.email }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}




    {#</div>#}
{% endblock %}
